/* ________________________________HEADER_____________________________________ */

.header {
  // position: relative;
  margin: 0 auto;
  padding: 0;
  background: $white-color;
}

.container__header {
  display: flex;
  align-items: center;

  @media screen and (max-width: $pre-tablet) {
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    justify-content: space-between;
  }
}

.main-nav {
  @media screen and (min-width: $desktop) {
    margin-right: 305px;
  }

  // .main-nav__list

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  // .main-nav__item

  &__item {
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: $title-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:last-child {
      margin-right: 0;
    }
  }

  // .main-nav__item--margin
  @media screen and (min-width: $desktop) {
    &__item--margin {
      margin-right: 53px;
    }
  }

  // .main-nav__link

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    text-decoration: none;
    color: $title-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--current {
      color: $accent-color;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  // .main-nav__link--current

  &__link--current::after,
  &__link--current:focus::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: $accent-color;
  }

  @media screen and (max-width: $pre-tablet) {
    display: none;
  }
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (max-width: $pre-tablet) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: block;
  }
  @media screen and (min-width: $desktop) {
    display: inline-flex;
  }
}

.contacts__item {
  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    text-align: left;

    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: $primary-text-color;
  fill: $primary-text-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  @media screen and (min-width: $desktop) {
    .contacts__link {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

@media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
  .contacts__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: $desktop) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.contacts__icon--mail {
  width: 16px;
  height: 12px;
}

.contacts__icon--phone {
  width: 10px;
  height: 16px;
  vertical-align: sub;
}

// ------------------------------------------------- MOBILE  ----------------------------------------------------------

.menu-button {
  display: none;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  z-index: 2;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (max-width: $pre-tablet) {
    display: flex;
  }
}
.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 48px;
  text-align: left;
  background-color: $white-color;
  z-index: 1;

  &.is-open {
    display: block;
  }
  // .menu-container__list

  &__list {
    margin: 0;
    margin-bottom: 306px;
    padding: 0;
    list-style: none;
  }

  // .menu-container__item

  &__item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .menu-container__link

  &__link {
    text-decoration: none;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $title-text-color;
  }

  // .menu-container__link--current

  &__link--current {
    color: $accent-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.menu-contacts {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  list-style: none;
  // .menu-contacts__item

  &__item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .menu-contacts__link

  &__link {
    text-decoration: none;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    &--phone {
      font-size: 34px;
      line-height: 1.18;
      color: $accent-color;
    }
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  // .menu-social__item

  &__item {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }

  // .menu-social__link

  &__link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    text-decoration: none;
  }
}

// ------------------------------------------------- END OF MOBILE  ----------------------------------------------------------

/* ________________________________END OF HEADER_______________________________ */
